
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layoutc.cshtml";
}


<div>

    @using (Html.BeginForm("ImportFromExcel", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary();
        <input type="file" name="postedFile" />
        <div>
            <input type="submit" button id="upload" value="Import" class="btn-success" />
        </div>
    }
    <br />
    <br />
    
</div>
@section scripts{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $("#upload").click(function () {
            debugger;
            if (window.FormData == undefined)
                alert("Error: FormData is undefined");

            else {
                var fileUpload = $("#postedFile").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                fileData.append(files[0].name, files[0]);

                $.ajax({
                    url: '/Import/ImportFromExcel',
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function (response) {
                        alert(response);
                    }
                });
            }

        });
    </script>

}

