@model SCBHarmonization.ViewModels.tbl_TransactionViewModel
@{
    ViewBag.Title = "Transaction Status";
    Layout = "~/Views/Shared/_Layoutc.cshtml";
}

<div class="bg-white">
    <div class="row">
        <div class="btn btn-outline-primary col-md-3" style="margin-top: 60px; margin-left: 10px;">
            @Html.ActionLink("Get Transaction Types", "GetTransactionTypeList", "Transaction")
        </div>

    </div>




</div>








