@model SCBHarmonization.Models.Credential

@{
    ViewBag.Title = "Ping";
    Layout = "~/Views/Shared/_Layoutc.cshtml";
}

<h4>Ping Response</h4><br />
<h5>Status : @ViewBag.Status</h5><br />
<h5>Message : @ViewBag.Message</h5><br />
<h5>Description : @ViewBag.Description</h5>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
